<mat-sidenav-container class="sidenav-container" >
	<mat-sidenav #sidenav fixedInViewport="true"  mode="side" opened class="sidenav">
			<i  class="material-icons  menu-name" >menu</i>
		<mat-nav-list>

			<a mat-list-item routerLink="" routerLinkActive="active">
				<i class="material-icons">notes</i> &nbsp; Notes
			</a>
			<a mat-list-item routerLink="/reminder" routerLinkActive="active">
				<i class="material-icons">alarm</i> &nbsp; Reminders
			</a>
			<a mat-list-item routerLink="/category" routerLinkActive="active">
				<i class="material-icons">label</i> &nbsp; Category
			</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>

		<mat-toolbar  color="primary" >
			<div class="header">Keep</div>
			<div class="keep-c-toggle-view">
				<i *ngIf="isNoteView" class="material-icons switchToListView" (click)="navigate()">view_list</i>
				<i *ngIf="!isNoteView" class="material-icons switchToNoteView" (click)="navigate()">view_quilt</i>
			</div>
			
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>

<!-- <mat-toolbar color="primary">Keep
	<div class="keep-c-toggle-view">
		<i *ngIf="isNoteView" class="material-icons switchToListView" (click)="navigate()">view_list</i>
		<i *ngIf="!isNoteView" class="material-icons switchToNoteView" (click)="navigate()">view_quilt</i>
	</div>
</mat-toolbar> -->
