
.card-str{
    margin : 0 auto;
    width: 40%;
    margin-top: 20px;
}


.mat-card-title{
    font-weight: bolder;
    font-size: 20px;
    color: white;
    background-color: #3f51b5;
    line-height: 42px;
    text-align: center;
   
}

.reminder{
    display: flex;
   flex-direction: column;
   justify-content: center;
}
.reminder-container{
    margin : 0 auto;
    width: 100%;
    margin-top: 20px;
   
}

mat-card-actions{
    text-align: center;
}

.chip-list{
    width:100%
}

.mat-chip:not(.mat-basic-chip)+.mat-chip:not(.mat-basic-chip) {
    margin-top : 2px;
}

.mat-chip:not(.mat-basic-chip) {
    background-color: lightgray;
    color: #3f51b5;
}

h3{
    text-align: center;
    color: #3f51b5;

}

.mat-card {
    border-radius: 8px !important;
  }

